/*Makes sure that all margin and padding that comes with  the browser are removed and also makes changes the font style of all the text on the page to Roboto*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*works on the color of the footer, adds a black top border on the footer, and pushes the navigation button to the right-side of the footer.*/

.home-footer{

    display: flex;

    justify-content: flex-end;

    border-top: 2px solid black;

    width: 100%;

    height: 60px;

    padding: 10px;

    background-color: #1A2A4A;
}

/*Adds space on the sides of the main section so that the content is not too close to the edges of the page and to create separation from the header and the footer of the page. And changes the text and background color of the main content*/

.main-section{

    padding: 20px;

    background-color: #2A5F6E;

    color: #F7F0F0;

}

/*Works on the Log*/

.logo{

    font-size: 25px;

    font-weight: 700;

    font-family: sans-serif;

    color: #F7F0F0;

    cursor: default;

}

/*Works on the tooltip of the logo when the cursor is hovered on the logo*/

.logo:hover::after{

    content: attr(data-tooltip);

    width: 100px;

    font-size: 15px;

    position: absolute;

    color: rgb(37, 37, 37);

    background-color: #F7F0F0;

    padding: 10px;

    border-radius: 5px;

    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.3);

    opacity: 0.5;

    margin-left: 5px;

}

/*Works on the size of the header and the spacing between the content inside header*/

.header-section{

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 20px;

    width: 100%;

    height: 80px;

    border-bottom: 2px solid black;

    background-color: #1A2A4A;
    
}

/*Separates the navigation links for better representation.*/

.navigation-container ul{

    display: flex;

    gap: 20px;
}

/*Removes the default styling on the navigation links and adds a new color on them*/

.navigation-container ul li a{

    text-decoration: none;

    color: #F7F0F0;

    transition: color 0.25s;
}

/*Makes the navigation links have visual feedback when they are hovered, and also makes the cursor changes to a pointer type.*/

.navigation-container ul li a:hover{

    color: #2A5F6E;

    cursor: pointer;
}

/*Makes the a navigation link of the current page stay*/

.navigation-container ul li a.current{

    color: #2A5F6E;
}

/*Removes default styling on navigations*/

.navigation-container ul{

    list-style: none;
}

/*Works on the size and decoration of footer navigation buttons*/

.nav-buttons{

    padding: 10px;

    font-weight: 600;

    border-radius: 5px;

    border: none;

    transition: background-color 0.25s;

    font-size: 15px;

    background-color: #F7F0F0;

}

/*Declares the position that the tooltip should use as reference.*/

.next-tooltip{

    position: relative;
}

/*Shows the tooltip of the next button when the cursor is hovered over the button.*/

.next-tooltip:hover::after{

    content: attr(data-tooltip);

    width: 90px;

    font-size: 13px;

    position: absolute;

    color: rgb(37, 37, 37);

    background-color: #F7F0F0;

    padding: 5px;

    border-radius: 5px;

    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.3);

    opacity: 0.5;

    /* Placing the tooltip to the left of the button */

    right: 100%; 
    
    top: 50%; 
    
    transform: translateY(-50%);

    margin-right: 5px;

}

/*Works on the visual feedback of the navigation button when hovered.*/

.nav-buttons:hover{

    background-color: #A1A1A1;

    cursor: pointer;
}

/*Works on the orientation of content in the hero section and the spacing between the hero section and other content on the page.*/

.hero-section{

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin: 10px 0;
}

/*Works on the size and orientation of the Hero title to visualy separate it from other content.*/

.hero-title{

    font-size: 60px;

    text-align: center;

}

/*Works on the layout of the hero text*/

.hero-text{

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    width: 50%;

    margin-left: 90px;

}

/*Works on the size and orientation of the hero image*/

.hero-image-container{

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    width: 45%;

    height: 50%;

    position: relative; /*Makes the object the reference for the position of the tooltip*/
}

/*Makes the figure center the image.*/

.hero-image-container figure{

    display: flex;

    justify-content: center;

    align-content: center;

}

.hero-image{

    width: 95%;

}

/*Shows the tooltip for the hero-image when the image is hovered*/

.hero-image-container:hover::after{

    content: attr(data-tooltip);

    width: 90px;

    font-size: 15px;

    position: absolute;

    color: rgb(37, 37, 37);

    background-color: #F7F0F0;

    padding: 5px;

    border-radius: 5px;

    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.3);

    /* Placing the tooltip to the left of the image */

    right: 100%; 
    
    top: 50%; 
    
    transform: translateY(-50%);

    z-index: 1;

}

/*Works on the size and orientation of the introduction text*/

.intro-statement{

    width: 70%;

    font-size: 1.5rem;

    text-align: center;

}

/*Centers the content in the show section while they are in a colum direction*/

.show-section{

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    gap: 10px;

}

/*Makes sure that the image inside the container is centered.*/

.info-image-container{

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    position: relative;
 
}

/*Works on the size of the info image.*/

.info-image{

    width: 500px;

}

/*Shows a tooltip of the info image when hovered*/

.info-image-container:hover::after{

    content: attr(data-tooltip);

    width: 90px;

    font-size: 15px;

    position: absolute;

    color: rgb(37, 37, 37);

    background-color: #F7F0F0;

    padding: 5px;

    border-radius: 5px;

    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.3);

    /* Placing the tooltip to the left of the button */

    right: 100%; 
    
    top: 50%; 
    
    transform: translateY(-50%);

    margin-right: 10px;

    z-index: 1;

}

/*Makes sure the image in the figure is centered*/

.info-image-container figure{

    display: flex;

    justify-content: center;

    align-content: center;

}

/*Works on the size of the informatio section title for visual separation.*/

.info-title{

    font-size: 40px;
}

/*Makes sure that the text in the information text is centered and clearly separate from each other while they are in a column layout.*/

.info-text{

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    gap: 10px;

    margin-top: 20px;

    margin-bottom: 10px;
}

/*Makes sure the contributer cards are in a row layout and they are clearly separate from each other.*/

.social-proof-section{

    display: flex;

    justify-content: space-between;

    margin-top: 30px;

    padding: 20px 0;
}

/*Makes sure that the image of the contributer and their information are in a column layout and have space between them.*/

.contributers{

    display: flex;

    gap:10px;
}

/*Works on making the images be in a circles shape and works on the color of the images and makes sure the letters are well centered in the image.*/

.contributers-images{

    width: 40px;

    height: 40px;

    background-color: rgb(83, 36, 36);

    border: none;

    border-radius: 40px;

    display: flex;

    justify-content: center;

    align-items: center;
}

/* works on the color of the letters in the images and their weight.*/

.symbols{

    color: #F7F0F0;

    font-weight: 700;
}

.contributer-name{

    font-size: 1.17rem;
}

.contributer-part{

    font-size: 1rem;
}

.discriptions{

    font-style: italic;

    font-size: 1rem;
}

/*Makes sure that the tooltip uses the contributer's card as the reference.*/

.musa-tooltip{

    position: relative;
}

/*Shows the tooltip when the card is hovered*/

.musa-tooltip:hover::after{

    content: attr(data-tooltip);

    width: 200px;

    font-size: 1rem;

    position: absolute;

    color: rgb(37, 37, 37);

    background-color: #F7F0F0;

    padding: 5px;

    border-radius: 5px;

    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.3);

    margin-bottom: 5px;

    /* Placing the tooltip on top */

    bottom: 100%; 
    
    left: 50%; 
    
    transform: translateX(-50%);

    z-index: 1;

}

/*Makes sure that the tooltip uses the contributer's card as the reference.*/

.boitumelo-tooltip{

    position: relative;
}

/*Shows the tooltip when the card is hovered*/

.boitumelo-tooltip:hover::after{

    content: attr(data-tooltip);

    width: 200px;

    font-size: 1rem;

    position: absolute;

    color: rgb(37, 37, 37);

    background-color: #F7F0F0;

    padding: 5px;

    border-radius: 5px;

    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.3);
    
    margin-bottom: 5px;

    /* Placing the tooltip on top */

    bottom: 100%; 
    
    left: 50%; 
    
    transform: translateX(-50%);

    z-index: 1;

}

/*Makes sure that the tooltip uses the contributer's card as the reference.*/

.ako-tooltip{

    position: relative;
}

/*Shows the tooltip when the card is hovered*/

.ako-tooltip:hover::after{

    content: attr(data-tooltip);

    width: 200px;

    font-size: 1rem;

    position: absolute;

    color: rgb(37, 37, 37);

    background-color: #F7F0F0;

    padding: 5px;

    border-radius: 5px;

    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.3);
    
    margin-bottom: 5px;

    /* Placing the tooltip on top */

    bottom: 100%; 
    
    left: 50%; 
    
    transform: translateX(-50%);

    z-index: 1;

}

/*Makes sure that the tooltip uses the contributer's card as the reference.*/

.sandiso-tooltip{

    position: relative;

}

/*Shows the tooltip when the card is hovered*/

.sandiso-tooltip:hover::after{

    content: attr(data-tooltip);

    width: 200px;

    font-size: 1rem;

    position: absolute;

    color: rgb(37, 37, 37);

    background-color: #F7F0F0;

    padding: 5px;

    border-radius: 5px;

    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.3);
    
    margin-bottom: 5px;

    /* Placing the tooltip on top */

    bottom: 100%; 
    
    left: 50%; 
    
    transform: translateX(-50%);

    z-index: 1;

}

/*Makes the background color of change to a gray color when a image modal is open to block background content.*/

.modal{

    background-color: rgb(45, 45, 45);

    opacity: 0;

    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    transition: all 0.3 ease-in-out;

    z-index: -1;

    display: flex;

    align-items: center;

    justify-content: center;
}

/*Makes sure the image of the modal is centered*/

.inner-modal-container{

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 10px;
}

/*Works on making the modal visible and on top of every content on the page.*/

.modal.open{

    opacity: 1;

    z-index: 3;
}

/*Makes sure that the inner modal has half the size of the background modal*/

.modal-inner{

    width: 50%;

}

.modal-inner-2{

    width: 65%;
}

/*Works on making the button that closes the modal*/

.closeModal{

    padding: 10px;

    border-radius: 10px;

    font-weight: 700;

    border: none;
}

/*Makes sure the background of the load screen covers the whole view port.*/

.page-load{

    background-color: #1A2A4A;

    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    z-index: 4;

    display: flex;

    align-items: center;

    justify-content: center;
}

/*Sizes the text of the loading screen and changes its color*/

.loading-text{

    font-size: 50px;

    font-weight: 700;

    color: rgb(31, 30, 30);
}

/*Makes sure the project link is in a staright line with the drop down button next to it.*/

.line{

    display: flex;

    justify-content: center;

    align-items: center;
}

/*Works on the drop down button of sub-links, making align well with porjects link.*/

.arrow{

    font-size: 12px;

    aspect-ratio: 1;

    height: 15px;

    display: flex;

    justify-content: center;

    align-items: end;

    background-color: #1A2A4A;

    color: #F7F0F0;

    border: none;

    transition: color 0.25s;

}

/*Adds a background for the sub-link modal*/

.link-modal{

    background-color: #1A2A4A;

    width: auto;

    padding: 5px;

    position: fixed;

    transition: all 0.1s ease-in-out;

    z-index: -1;

}

/*Makes the sub-link visible and makes it appear above all visible content.*/

.link-modal.open {

    opacity: 1;

    z-index: 100;

}

/*Makes sure that the navigation links are in a row, have gaps between each other and are centered in the modal.*/

.link-modal ul{

    display: flex;

    justify-content: center;

    align-items: center;

    list-style: none;

    gap: 10px
    
}

/*Makes the cursor change to a pointer type when on top of the links and sizes the links.*/

.link-modal ul li a{

    cursor: pointer;

    font-size: 0.8rem;
}

/*Makes the color of the arrow button change when hovered for user feedback*/

.arrow:hover{

    color: #2A5F6E;
}

/*Works on the dark mode*/

.main-section.dark-mode{

    background-color: #1c404a;

    color: rgb(219, 219, 219);

}

.switch-container{

    width: 200px;

    height: 50%;

    display: flex;

    align-items: center;

    justify-content: center;
}

/*Works on making the background of the switch look morden*/

.switch{

    background-color: #F7F0F0;

    width: 100px;

    height: 50px;

    border-radius: 100px;

    cursor: pointer;

    position: relative;

    transition: 0.2s;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

/*Shows the tool tip for the switch when hovered.*/

.switch:hover::after{

    content: attr(data-tooltip);

    width: 100px;

    font-size: 1rem;

    position: absolute;

    color: rgb(37, 37, 37);

    background-color: #F7F0F0;

    padding: 5px;

    border-radius: 5px;

    box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.3);

    /* Placing the tooltip below the switch */

    top: 100%; 
    
    left: 50%; 
    
    transform: translateY(-50%);

    margin-top: 40px;

}

/*Works on the switch click shape*/

.switch::before{

    position: absolute;

    content: '';

    background-color: #A1A1A1;

    width: 40px;

    height: 40px;

    border-radius: 200px;

    margin: 5px;

    transition: 0.2s;
}

input:checked + .switch{

    background-color: #2A5F6E;
}

input:checked + .switch::before{

    transform: translateX(47px);
}

input{

    display: none;
}

.light{

    color: #A1A1A1;

    margin-left: 7px;

    font-weight: 700;
}

.dark{

    color: #A1A1A1;

    margin-right: 9px;

    font-weight: 700;
}

@media( max-width: 1024px){

    .hero-title{

        font-size: 3rem;
    }

    .hero-image{

        width: 100%;


    }

    .hero-text{

        margin-left: 50px;
    }

    .info-title{
        
        font-size: 2rem;
    }

    .intro-statement{

        font-size: 1.3rem;
    }

    .info-image{

        width: 50%;
    }

    .social-proof-title{

        font-size: 1.5rem;
    }

    .contributer-name{

        font-size: 1rem;
    }

    .contributer-part{

        font-size: 0.8rem;
    }

    .discriptions{

        font-size: 0.8rem;
    }

    .hero-image-container:hover::after{

        display: none;
    }

    .info-image-container:hover::after{

        display: none;
    }

    .next-tooltip:hover::after{

        display: none;
    }

    /*Theme size*/

    .switch{

        width: 90px;

        height: 50px;

        border-radius: 80px;

    }

    .switch::before{

        width: 35px;

        height: 35px;

        border-radius: 200px;

        margin: 5px;

    }

    .light{

        margin-left: 5px;

        font-size: 0.9rem;

    }

    .dark{

        margin-right: 5px;

        font-size: 0.8rem;

    }

    .modal-inner{

        width: 70%;
    }

    .modal-inner-2{

        width: 70%;
    }

    .switch:hover::after{

        display: none;
    }

    .logo:hover::after{

        display: none;
    }

}

@media(max-width: 600px){

    .logo{

        font-size: 1rem;
    }

    .navigation-container ul li a{

        font-size: 0.7rem;
    }

    .contributers-info-container{

        width: 150px;
    }

    .social-proof-section{

        overflow-x: auto;

        gap: 20px;
    }

    .contributers-images{

        width: 40px;
        
        aspect-ratio: 1;
    }

    .hero-image-container{

        display: none;
    }

    .hero-text{

        background-image: url('../Assets/Images/Dark-env.png');

        background-size: cover;

        background-position: center;

        background-repeat: no-repeat;

        width: 100%;

        height: 300px;

        margin-left: 20px;

        margin-right: 20px;

    }

    .hero-title{
        
        text-align: center;
    }

    .info-image{

        width: 60%;
    }

    .musa-tooltip:hover::after{

        display: none;
    }

    .boitumelo-tooltip:hover::after{

        display: none;
    }

    .ako-tooltip:hover::after{

        display: none;
    }

    .sandiso-tooltip:hover::after{

        display: none;
    }

    .info-image-container:hover::after{

        display: none;
    }

    .hero-image-container:hover::after{

        display: none;
    }

    .next-tooltip:hover::after{

        display: none;
    }

    .arrow{

        font-size: 0.6rem;
    }

    /*Theme size*/

    .switch-container{

        width: 100px;

        height: 50%;

    }

    .switch{

        width: 70px;

        height: 30px;

    }

    .switch::before{

        width: 25px;

        height: 25px;

        border-radius: 200px;

        margin: 5px;

    }

    input:checked + .switch::before{

        transform: translateX(36px);
    }

    .light{

        margin-left: 5px;

        font-size: 0.5rem;

    }

    .dark{

        margin-right: 5px;

        font-size: 0.5rem;

    }

    .switch:hover::after{

        display: none;
    }
}

@media(max-width: 560px){

    .logo{

        font-size: 0.7rem;
    }

    .navigation-container ul li a{

        font-size: 0.6rem;
    }

    .contributers-info-container{

        width: 150px;
    }

    .social-proof-section{

        overflow-x: auto;

        gap: 20px;
    }

    .contributers-images{

        width: 40px;
        
        aspect-ratio: 1;
    }

    .hero-text{


        width: 100%;

        height: 300px;

        margin-left: 20px;

        margin-right: 20px;

    }

    .info-image{

        width: 60%;
    }

    .arrow{

        font-size: 0.5rem;

        height: 10px;
    }

    .line{

        align-items: end;
    }

    /*Theme size*/

    .switch-container{

        width: 20px;

        height: 50%;

    }

    .switch{

        width: 20px;

        height: 20px;

        display: flex;

        justify-content: center;

        align-items: center;

    }

    .switch::before{

        display: none;

    }

    .switch .light{

        display: none;

    }
    input:checked + .switch .light {

        display: block;

        margin-left: 0;

        font-size: 0.5rem;
    }

    .switch .dark{

        display: flex;

        margin-left: 5px;

        font-size: 0.5rem;

    }
    input:checked + .switch .dark {

        display: none;

    }

    .header-section{

        padding: 0 10px;
    }

    .navigation-container ul{

        gap: 10px;
    }

    .home-nav{

        display: none;
    }
}